/* style.css */

/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

/* Estilos para el logo */
#logo {
    width: 150px;
    height: 100px;
    ;
}

/* Estilos para los elementos del div */
.header-center {
    text-align: center;
    margin-right: 500px;
}

/* Estilos para el título */
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4CAF50;
    font-size: 24px;
    margin: 0;
}

/* Estilos para el botón de cambio de modo */
#toggle-mode-button {
    background: none;
    border: none;
    padding: 0;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

/* Estilos para el icono de cambio de modo */
#mode-icon {
    max-width: 10%;
    max-height: 30%;
}

/* Estilos para el contenedor de conversación */
.conversation-container {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 450px;
    overflow-y: scroll;
}

/* Estilos para los mensajes */
form {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

/* Estilos para el campo de entrada de texto */
input[type="text"] {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
}

/* Estilos para el botón de envío */
#enviar-button {
    background: none;
    border: none;
    padding: 0;
    display: block;
    margin: 5px;
    cursor: pointer;
    width: 26px;
    height: 26px;
}

/* Estilos para el icono de envío */
#send-icon {
    max-width: 100%;
    max-height: 100%;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Cambiar el color del texto a blanco en modo oscuro */
.dark-mode p {
    color: #fff;
}

/* Cambiar el fondo del contenedor de conversación a gris en modo oscuro */
.dark-mode .conversation-container {
    background-color: #888;
}

/* Cambiar el fondo del campo de entrada de texto a gris en modo oscuro */
.dark-mode input[type="text"] {
    background-color: #888;
    color: #fff;
}

/* Cambiar el color del marcador de posición (placeholder) a blanco en modo oscuro */
.dark-mode input[type="text"]::placeholder {
    color: #fff;
}